body{
	background-color: lightgrey;
}
h1{
	font-size: 30px;
	color: #F02727; 
}

h2{
	color: hotpink;
	font-size: 20px;
}

.big{
	font-size: 60px;
	color: green;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}